body { 
    margin:0; 
    padding:0; 
    width:100%; 
    color:#5f5f5f; 
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main { 
    padding:0; 
    margin:0; 
    background-color:#fff;
}
.line { 
    clear:both; 
    padding:0; 
    margin:0; 
    width:100%; 
    font-size:0px; 
    line-height:0px;
}
h1 { 
    margin:0; 
    padding:34px 0; 
    color:#fff; 
    font:bold 60px/1.2em Arial, Helvetica, sans-serif;
}
h1 a, h1 a:hover { 
    color:#fff; 
    text-decoration:none;
}
h1 span { 
    color:#db7835;
}
h1 small { 
    padding-left:230px; 
    font:normal 16px/1.2em Arial, Helvetica, sans-serif;
}
h2 { 
    font:bold 24px Arial, Helvetica, sans-serif; 
    color:#73b40e; 
    padding:8px 0; 
    margin:8px 0;
}
p { 
    margin:8px 0; 
    padding:0 0 8px 0; 
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
a { 
    color:#73b40e; 
    text-decoration:underline;
}


.header, .content, .nav, .buttom, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { 
    margin:0; 
    padding:0;
}
.contentsize, .buttomsize, .footersize { 
    margin:0 auto; 
    padding:0 40px; 
    width:890px;
}
.content, .buttom { 
    padding:16px 0;
}

.header { 
    background-color: #222922;
    height:270px;
}
.headersize { 
    margin:0 auto; 
    padding:0 0 0 40px; 
    width:930px;
}
.header .logo { 
    width:auto; 
    float:left;
}

.nav { 
    float:left; 
    width:653px;
}
.nav ul { 
    margin:0; 
    padding:1px 0 0; 
    list-style:none;
}
.nav ul li { 
    margin:0 12px 0 0; 
    float:left;
}
.nav ul li a {
     display:block; 
     margin:0; 
     padding:6px 12px; 
     color:#fff; 
     text-decoration:none; 
     background:rgb(14, 209, 140);
    }
.nav ul li a { 
    border-radius:4px;
}
.nav ul li a:hover, .nav ul li.active a { 
    background-color: #3bcae0;
}


.content { 
    padding-bottom:16px;
}
.contentsize { 
    border-top:none;
}
.content .mainbar { 
    float:left; 
    width:630px;
}
.content .mainbar .article, .content .sidebar .sidebar11 { 
    margin:0; 
    padding:0 0 16px 0;
}
.content .sidebar { 
    float:right; 
    width:236px;
}
ul.sb_menu, ul.ex_menu { 
    margin:0; 
    padding:0; 
    list-style:none; 
    color:#959595;
}
ul.sb_menu li, ul.ex_menu li { 
    margin:0;
}
ul.sb_menu li { 
    padding:4px 0;
}
ul.ex_menu li { 
    padding:4px 0 8px;
}
ul.sb_menu li a, ul.ex_menu li a { 
    color:#5f5f5f; 
    text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { 
    color:#73b40e; 
    font-weight:bold;
}
ul.sb_menu li a:hover { 
    text-decoration:underline;
}
ul.ex_menu li a:hover { 
    text-decoration:none;
}


.buttom { 
    background-color:#222922; 
    color:#fff;
}
.buttom h2 { 
    color:#fff;
}
.buttomsize img { 
    border:1px solid #dedede;
}
.buttomsize .collection { 
    margin:0; float:left;
}

.buttomsize .c1 { 
    padding:0 16px 0 0; 
    width:246px;
}
.buttomsize .c2 { 
    padding:0 16px; 
    width:336px;
}
.buttomsize .c3 { 
    padding:0 0 0 16px; 
    width:240px;
}
.buttomsize .c2 img { 
    margin:8px 16px 4px 0; 
    padding:0; 
    float:left;
}
.buttomsize .c1 img, .buttomsize .c3 img { 
    margin:4px; 
    padding:0;
}
.buttomsize .collection img{
    width: 66px ;
    height: 66px;
}

.footer { 
    background-color:#222222; 
    border-top:1px solid #505050; 
    padding:16px 0; 
    color:#fff;
}
.footer img.flogo { 
    float:left; 
    border:none;
}
.footer p.lf { 
    margin:0; 
    padding:8px 0; 
    float:left; 
    width:auto; 
    line-height:1.5em;
}
ul.fmenu { 
    margin:0; 
    padding:8px 0; 
    list-style:none; 
    float:right; 
    width:auto;
}
ul.fmenu li { 
    margin:0; 
    padding:0 12px; 
    float:left;
}
ul.fmenu li a {color:#fff; 
    text-decoration:none;
}
ul.fmenu li a:hover, ul.fmenu li.active a { 
    color:#73b40e;
}
ul.fmenu li a:hover { 
    text-decoration:underline;
}
